 *{
   font-family: 'Montserrat';
   box-sizing: border-box;
   margin: 0 ;
   padding: 0;
 }

 body{
   margin: 0;
   padding: 0;
 }

 nav{
   background-color: rgb(44, 62, 80);
   position: fixed;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   padding: 0 100px;
 }

 .items, a{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-weight: bold;
   padding: 15px;
 }

 .items:hover{
   color: rgb(24, 188, 156);
 }

 li{
   display: inline-block;
 }

 .logo{
   flex-direction: row;
 }

 .opciones-nav{
   flex-direction: row-reverse;
 }
